*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

header{
	width: 100%;
	padding: 20px 0;
	margin: 0 auto;
}
.headline{
	text-align: center;
	text-decoration: underline;
}

/*borderがnav-listで作れなかったからnavで枠を作成して線を引いてみたけど
やっぱりいらんかったか*/
nav{
	width: 100%
	height: 30px;
	border: solid black;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
/*
.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-bottom: 1px solid #848282;
  border-top: 1px solid #848282;
  で行ける*/
.nav-list{
	width: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
.nav-list-item{
	list-style: none;
	display: inline-block;
	margin: 15px 20px;
	text-decoration: underline;;
}


.main{
	width: 800px;
	margin: 50px auto;
	/*padding: 50px 0;
	margin: 0 auto;　って書いてたけど、
	paddingはコンテンツとborderとの距離
	marginはborderと表示領域との距離
	コンテンツはwidthとheightで指定してる
	この場合widthで横幅だけ指定してあって
	高さは中のfloat boxで作られるけん
	それに対しての余白幅を指定すれば良い。
	つまりpaddinかmarginのどちらかを指定すれば完了*/
}
.box1{
	width: 200px;
	height: 200px;
	background-color: #e6ffe9;
	float: left;
}
.box2{
	width: 200px;
	height: 200px;
	background-color: #cdffd3;
	float: left;
}
.box3{
	width: 200px;
	height: 200px;
	background-color: #aeffbd;
	float: left;
}
.box4{
	width: 200px;
	height: 200px;
	background-color: #93ffab;
	float: left;
}
.box5{
	width: 200px;
	height: 200px;
	background-color: #f3ffd8;
	float: left;
}
.box6{
	width: 200px;
	height: 200px;
	background-color: #edffbe;
	float: left;
}
.box7{
	width: 200px;
	height: 200px;
	background-color: #e9ffa5;
	float: left;
}
.box8{
	width: 200px;
	height: 200px;
	background-color: #e4ff8d;
	float: left;
}
.box9{
	width: 200px;
	height: 200px;
	background-color: #d9e5ff;
	float: left;
}
.box10{
	width: 200px;
	height: 200px;
	background-color: #bad3ff;
	float: left;
}
.box11{
	width: 200px;
	height: 200px;
	background-color: #a4c6ff;
	float: left;
}
.box12{
	width: 200px;
	height: 200px;
	background-color: #8eb8ff;
	float: left;
}


footer{
	width: 100%;
	height: 120px;
	/*padding: 0;　　いらない*/
	/*margin: 0 auto;　　いらない*/
	text-align: center;
	line-height: 120px;
	background-color: #848282;
}
.footer-text{
	color: #fff;
}