*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*.main-visual{
	width: 100%;
	height: 800px;
}
まるまる不必要*/

.box1{
	width: 100%;
	height: 200px;
	background-image: url(img/box1.jpg);
	/* img/ がないと画像が反映されない */
	background-position: center;
}
.box2{
	width: 100%;
	height: 200px;
	background-image: url(img/box2.jpg);
	background-position: center;
}
.box3{
	width: 100%;
	height: 200px;
	background-image: url(img/box3.jpg);
	background-position:center;
}
.box4{
	width: 100%;
	height: 200px;
	background-image: url(img/box4.jpg);
	background-position: center;
}